@media (max-width:1601px){
    .grid-item{
        width: 26rem;
    }
    .podcast-container-grid{
        width: 98%;
    }
}


@media (max-width:1429px){
    .grid-item{
        width: 25rem;
    }
}


@media (max-width:1351px){
    .podcast-container-grid{
        width: 100%;
    }
}


@media (max-width:1281px){
    .grid-item {
        width: 22rem;
    }
}

@media (max-width:1125px){
    .grid-item{
        width: 20rem;
    }
}

@media (max-width:1031px){
    .podcast-container-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-item{
        width: 45vw;
    }
}

@media (max-width:640px){
    .podcast-container-grid{
        padding-top: 3rem;
        grid-template-columns: repeat(1,1fr);
    }
    .grid-item{
        width: 27rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width:621px){
    #menu{
        font-size: 2.9rem;
        margin-right: -1rem;
    }
}

@media (max-width:573px){
}

@media (max-width:533px){
    .grid-item{
        width: 24rem;
    }
}

@media (max-width:460px){
    .grid-item{
        width: 22rem;
    }
    #menu{
        font-size: 2.5rem;
    }
}

@media (max-width:422px){
    .grid-item{
        width: 20rem;
    }
}


@media (max-width:388px){
    .grid-item{
        width: 18rem;
    }

    #menu{
        font-size: 2.3rem;
    }
}