/* BASE STYLES */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    overflow-x: hidden;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 300;
    opacity: 0;
    visibility: hidden;
}

.overlay.show-overlay{
    opacity: 1;
    visibility: visible;
}

body{
    background-color: rgb(233, 235, 241);
}

#menu{
    font-size: 3rem;
    position: absolute;
    right: 3rem;
    display: none;
}
.header{
    background-color: rgba(141, 24, 199, 0.858);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    z-index: 1000;
    position: relative;
}

.header h1{
    animation: yaxis-animation .5s .2s backwards
}

.navbar{
    display: flex;
}

.nav-items{
    margin-left: 4rem;
    cursor: pointer;
}

/* aniamation */
@keyframes yaxis-animation {
    0%{
        opacity: 0;
        transform: translateY(15%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes info-text-animation {

    0%{
        transform: translateX(-20%);
    }

    75%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(5000%);
    }
    
}


/* MAIN SECTION */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* PODCAST SECTION */
.podcast-section{
    background-color: rgb(233, 235, 241);
    width: 98vw;
    margin-top: 1.5rem;
    border-radius: .6rem;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.podcast-container-grid{
    display: grid;
    /* padding-top: 1.8rem; */
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    /* row-gap: 1.8rem; */
    /* column-gap: 3rem; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    transition: .4s;
}

.grid-item{
    width: 30rem;
    background-color: white;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.4);
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    z-index: 4;
    margin-bottom: 3rem;
}

.grid-item:nth-child(1){
    animation: yaxis-animation .5s .3s backwards
}
.grid-item:nth-child(2){
    animation: yaxis-animation .5s .4s backwards
}
.grid-item:nth-child(3){
    animation: yaxis-animation .5s .5s backwards
}
.grid-item:nth-child(3) img{
    transform: translateY(30%);
}
.grid-item:nth-child(4){
    animation: yaxis-animation .5s .6s backwards
}
.grid-item:nth-child(4) .image-section{
    height:max-content;
}
.grid-item:nth-child(5){
    animation: yaxis-animation .5s .7s backwards
}
.grid-item:nth-child(5) .image-section{
    height: max-content;
}
.grid-item:nth-child(5) #info5{
    bottom: 43rem;
}
.grid-item:nth-child(6){
    animation: yaxis-animation .5s .8s backwards
}
.grid-item:nth-child(6) .image-section{
    height: min-content;
}




.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16rem;
    position: relative;
    overflow: hidden;
    /* margin-top: 0.5rem; */
    /* background-color: yellow; */
}




.audio{
    position: absolute;
    z-index: 300;
    width: 100%;
    bottom: 0rem;
    height: 2rem; 
    background-color: white;
    transition: .4s;
}

.audio:hover{
    transform: translateY(-3%);
}

.information-layer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 18rem;
    box-shadow: 0 0 1rem 1px purple;
    transition: .7s ease;
    color: rgba(255, 255, 255, 0.666);
}

#info-text{
    transition: .4s;
}

.show-info{
    bottom: 0rem;
}

#play-btn{
    position: absolute;
    height: 3.5rem;
    bottom: .3rem;
    right: .5rem;
    cursor: pointer;
    transition: .3s;
    opacity: .9;
}

#play-btn:hover{
    transform: translateY(-4%);
    filter: saturate(10);
    opacity: 1;
}

.info-section{
    width: 98%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding:1.5rem 0;
}
.info-section i{
    position: absolute;
    bottom: .5rem;
    font-size: 1.2rem;
    right: .4rem;
    cursor: pointer;
}

.info-section p{
    margin-top: .5rem;
}


/* MEDIA QUERIES */
@media (max-width:1601px){
    .grid-item{
        width: 26rem;
    }
    .podcast-container-grid{
        width: 98%;
    }
}


@media (max-width:1429px){
    .grid-item{
        width: 25rem;
    }
}


@media (max-width:1351px){
    .podcast-container-grid{
        width: 100%;
    }
}


@media (max-width:1281px){
    .grid-item {
        width: 22rem;
    }

    .header h1{
        width: 30rem;
    }

}
@media (max-width:1125px) {
    .navbar{
        display: block;
        position: fixed;
        top: 14.1rem;
        right: -20rem;
        background-color: rgb(236, 239, 246);
        color: purple;
        font-size: 1.1rem;
        padding: 6rem;
        height: 100vh;
        transition: .4s;
        z-index: 100;
        border-radius: .1rem;
    }
    .nav-items{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 6rem;
    }
    .open-navbar{
        right: 0rem;
    }
    #menu{
        display: block;
    }
    .grid-item {
        width: 20rem;
    }

}

@media (max-width:1031px){
    .podcast-container-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-item{
        width: 45vw;
    }
}

@media (max-width:761px){
    .header h1{
        width: 20rem;
        font-size: 1.9rem;
        margin-left: -1.5rem;
    }
    .navbar{
        top: 13.8rem;
    }
}

@media (max-width:640px){
    .podcast-container-grid{
        padding-top: 3rem;
        grid-template-columns: repeat(1,1fr);
    }
    .grid-item{
        width: 27rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width:621px){
    .header h1{
        font-size: 1.5rem;
    }
    #menu{
        font-size: 2.9rem;
        margin-right: -1rem;
    }
    .navbar{
        top: 12.6rem;
    }
}

@media (max-width:573px){
    .header h1{
        width: 16rem;
    }
}

@media (max-width:533px){
    .grid-item{
        width: 24rem;
    }
}

@media (max-width:460px){
    .grid-item{
        width: 22rem;
    }
    .navbar{
        top: 12rem;
    }

    .header h1{
        font-size: 1.3rem;
        margin-left: -2rem;
    }

    #menu{
        font-size: 2.5rem;
    }
}

@media (max-width:422px){
    .grid-item{
        width: 20rem;
    }
}


@media (max-width:388px){
    .grid-item{
        width: 18rem;
    }

    #menu{
        font-size: 2.3rem;
    }
    .header h1{
        width: 11rem;
    }
    .navbar{
        top: 14rem;
    }

}

